*
!.gitignore
!*.md

!docs/

# JSONS
!*.json

# Javascripts of the api
!*.js

!*.cmd

# Test files
!tests/
!tests/**
!*.py
*.pyc

# Test virtual environment requirements
!.python-version
!pyproject.toml